<html>
  <head>
    <title>Puppet Training - <%= @fqdn %></title>
  </head>
  <body>
    <% if @vhost then -%>
      <h2>Coming to you live from <%= @vhost %></h2>
    <% end -%>
    <p>Hey Dude.</p>
    <h2>Sytem Stats</h2>
    <pre>
      Kernel:    <%= @kernelrelease %>
      OS:        <%= @operatingsystem %>
      Mem Total: <%= @memorysize %>
      Mem Free:  <%= @memoryfree %>
      IP:        <%= @ipaddress %>
      CPU:       <%= @processor0 %>
    </pre>
    <p>Lets print some stuff via iteration.</p>
  <% (1..10).each do |n| -%>
    <p>Iteration number <%= n %>
  <% end -%>
  </body>
</html>
